@{
    ViewData["Title"] = "About Page";
}

<div class="page-banner-area jara d-flex justify-content-center align-items-center" data-jarallax='{"speed": 0.3}'>
    <div class="about-wrap-image" data-tilt="">
        <img src="~/images/page-banner/banner-bg.png" alt="image" class="img-fluid" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
    </div>
</div>


<div class="about-area pb-75">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-wrap-image" data-tilt="">
                    <img src="~/images/about/about.png" alt="image" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-wrap-content" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                    @* <div class="about-bg-text">ABOUT US</div> *@
                    <span>WHO WE ARE</span>
                    <h3>Your Trusted Partner For All IT Solutions <span class="overlay"></span></h3>
                    <p>Unlock your business potential with our comprehensive software solutions. We drive innovation to address your unique needs and goals, providing tailored, high-quality solutions that enhance performance and support your success in a competitive market.</p>
                </div>
            </div>
        </div>

        <div class="about-inner-box">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single-about-card" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                        <h3>Our Vision</h3>
                        <p>At Niya Infotech, we empower businesses with innovative IT solutions, driving growth and success through excellence, creativity, and customer satisfaction.</p>


                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-about-card" data-aos="fade-down" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                        <h3>Our Mission</h3>
                        <p>At Niya Infotech, we deliver innovative IT solutions to empower businesses, enhance efficiency, drive growth, and build long-term client partnerships.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-about-card" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                        <div class="card-image" data-tilt="">
                            <img src="~/images/video/video.jpg" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-circle-shape">
        <img src="~/images/about/about-circle.png" alt="image">
    </div>
</div>
<!-- End About Area -->
<!-- Start Skill Area -->
<div class="skill-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="skill-content">
                    <span>Our Exprtise</span>
                    <h3>We Have A Set Of Exprtise With High Quality <span class="overlay"></span></h3>
                </div>

                <div class="skill-bar" data-percentage="98%" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <p class="progress-title-holder">
                        <span class="progress-title">Web Development</span>
                        <span class="progress-number-wrapper">
                            <span class="progress-number-mark">
                                <span class="percent"></span>
                                <span class="down-arrow"></span>
                            </span>
                        </span>
                    </p>
                    <div class="progress-content-outter">
                        <div class="progress-content"></div>
                    </div>
                </div>

                <div class="skill-bar" data-percentage="95%" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                    <p class="progress-title-holder">
                        <span class="progress-title">Software Development</span>
                        <span class="progress-number-wrapper">
                            <span class="progress-number-mark">
                                <span class="percent"></span>
                                <span class="down-arrow"></span>
                            </span>
                        </span>
                    </p>
                    <div class="progress-content-outter bg-D5158F">
                        <div class="progress-content bg-D5158F"></div>
                    </div>
                </div>

                <div class="skill-bar" data-percentage="92%" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                    <p class="progress-title-holder">
                        <span class="progress-title">Digital Marketing</span>
                        <span class="progress-number-wrapper">
                            <span class="progress-number-mark">
                                <span class="percent"></span>
                                <span class="down-arrow"></span>
                            </span>
                        </span>
                    </p>
                    <div class="progress-content-outter bg-FEB302">
                        <div class="progress-content bg-FEB302"></div>
                    </div>
                </div>

                <div class="skill-bar" data-percentage="90%" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                    <p class="progress-title-holder">
                        <span class="progress-title">E-Commerce Solution</span>
                        <span class="progress-number-wrapper">
                            <span class="progress-number-mark">
                                <span class="percent"></span>
                                <span class="down-arrow"></span>
                            </span>
                        </span>
                    </p>
                    <div class="progress-content-outter bg-A66BFF">
                        <div class="progress-content bg-A66BFF"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="skill-image" data-aos="fade-left" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                    <img src="~/images/skill/skill-1.png" alt="image" data-tilt="">

                    <div class="skill-shape-1">
                        <img src="~/images/skill/skill-shape-1.png" alt="image">
                    </div>
                    <div class="skill-shape-2">
                        <img src="~/images/skill/skill-shape-2.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="skill-bg-shape">
        <img src="~/images/skill/skill-bg-shape.png" alt="image">
    </div>
</div>
<!-- End Skill Area -->
@* <!-- Start Go Top Area -->
<div class="go-top">
    <i class="ri-arrow-up-s-line"></i>
</div>
<!-- End Go Top Area --> *@
