@{
    ViewData["Title"] = "About Page";
}

<div class="page-banner-area jara d-flex justify-content-center align-items-center" data-jarallax='{"speed": 0.3}'>
    <div class="about-wrap-image" data-tilt="">
        <img src="~/images/page-banner/testimonials.png" alt="image" class="img-fluid" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
    </div>
</div>

<!-- Start Testimonials Area -->
<div class="testimonials-area ptb-100">
    <div class="container">
        <div class="section-title text-white">
            <span>TESTIMONIALS</span>
            <h2>Our Client's Feedback <span class="overlay"></span></h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-testimonials-card text-white" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <p>Niya Infotech's exceptional website development has enhanced our patient engagement and efficiency, showcasing their deep industry expertise and professionalism.</p>

                    <div class="info-item-box">
                        <img src="~/images/testimonials/testimonials-1.jpg" class="rounded-circle" alt="image">
                        <h4>Mayur Bangoria, <span>Infinium Meditech</span></h4>
                        <ul class="rating-list">
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-testimonials-card text-white" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                    <p>Niya Infotech’s booking software revolutionized our operations, providing a seamless and efficient experience for bike and car rentals. Highly impressed with their innovative solutions and top-notch support.</p>

                    <div class="info-item-box">
                        <img src="~/images/testimonials/testimonials-1.jpg" class="rounded-circle" alt="image">
                        <h4>Tausif Jivani, <span>JB Rento</span></h4>
                        <ul class="rating-list">
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-testimonials-card text-white" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                    <p>Niya Infotech delivered a stunning, user-friendly website with exceptional expertise and creativity. Highly recommend their outstanding web development services.</p>

                    <div class="info-item-box">
                        <img src="~/images/testimonials/testimonials-1.jpg" class="rounded-circle" alt="image">
                        <h4>Gaurav Patel, <span>Accura International</span></h4>
                        <ul class="rating-list">
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                    </div>
                </div>
            </div></br>

            <div class="col-lg-4 col-md-6">
                <div class="single-testimonials-card text-white" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                    <p>Niya Infotech’s expertise in web development significantly improved our customer engagement and sales.</p>

                    <div class="info-item-box">
                        <img src="~/images/testimonials/testimonials-1.jpg" class="rounded-circle" alt="image">
                        <h4>Kishan Bhalodiya, <span>Jadooger</span></h4>
                        <ul class="rating-list">
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-testimonials-card text-white" data-aos="fade-up" data-aos-delay="90" data-aos-duration="900" data-aos-once="true">
                    <p>Niya Infotech transformed our online shopping site with seamless, user-friendly functionality.</p>

                    <div class="info-item-box">
                        <img src="~/images/testimonials/testimonials-1.jpg" class="rounded-circle" alt="image">
                        <h4>Utsav Patel, <span>Tagsen</span></h4>
                        <ul class="rating-list">
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-testimonials-card text-white" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                    <p>The professionalism, collaboration of design they come up with is phenomenal. Thanks a lot the Niya Infotech Team.</p>

                    <div class="info-item-box">
                        <img src="~/images/testimonials/testimonials-1.jpg" class="rounded-circle" alt="image">
                        <h4>Mahesh Bhai, <span>Kendl Team</span></h4>
                        <ul class="rating-list">
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-testimonials-card text-white" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                    <p>Niya Infotech created a stunning, user-friendly perfume site that boosted our sales.</p>

                    <div class="info-item-box">
                        <img src="~/images/testimonials/testimonials-1.jpg" class="rounded-circle" alt="image">
                        <h4>Sagar Gajjar, <span>Seven Degree Perfume</span></h4>
                        <ul class="rating-list">
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-testimonials-card text-white" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                    <p>Niya Infotech developed an intuitive, visually appealing tile preview site that impressed our customers.</p>

                    <div class="info-item-box">
                        <img src="~/images/testimonials/testimonials-1.jpg" class="rounded-circle" alt="image">
                        <h4>
                            Khushal Patel, <span>Sumedha International</span>
                        </h4>
                        <ul class="rating-list">
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-testimonials-card text-white" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                    <p>Niya Infotech's exceptional graphic design transformed our brand's visual identity beautifully.</p>

                    <div class="info-item-box">
                        <img src="~/images/testimonials/testimonials-1.jpg" class="rounded-circle" alt="image">
                        <h4>
                            Nehul Patel, <span>Bhabha Flex</span>
                        </h4>
                        <ul class="rating-list">
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials Area -->
