<!-- Start Services Details Area -->
<div class="services-details-area ptb-100">
    <div class="container">
        <div class="services-details-desc">
            <div class="article-services-image">
                <img src="~/images/services-details/ApplicationServices Banner.jpg" alt="image">
            </div>
            <div class="article-services-content">
                <p>Deliver high-quality applications tailored to your needs across web, mobile, desktop, and embedded platforms. From dynamic user interfaces to robust back-end systems, we create solutions that enhance functionality, performance, and user experience, ensuring seamless integration and optimal performance in every environment.</p>

                <ul class="list">
                    <li>
                        <h4>What You Will Get Under This Service</h4> <br />
                    </li>

                    <li>
                        <h4> Web Application Development :</h4>
                    </li>
                    <li><i class="ri-checkbox-circle-line"></i>Applications that load a single HTML page and dynamically update content as the user interacts with the app.</li>
                    <li><i class="ri-checkbox-circle-line"></i>Web apps that provide a native app-like experience using modern web capabilities and can work offline.</li>
                    <br />

                    <li>
                        <h4> Mobile Application Development : </h4>
                    </li>
                    <li><i class="ri-checkbox-circle-line"></i>Apps developed specifically for a single platform (iOS or Android) using platform-specific programming languages and tools.</li>
                    <li><i class="ri-checkbox-circle-line"></i>Apps developed using frameworks that allow a single codebase to run on multiple platforms.</li>
                    <br /> 
                    
                    <li>
                        <h4> Desktop Application Development : </h4>
                    </li>
                    <li><i class="ri-checkbox-circle-line"></i> Applications designed to run independently on desktop operating systems without requiring an internet connection.</li>
                    <li><i class="ri-checkbox-circle-line"></i>Desktop applications built using web technologies (HTML, CSS, JavaScript) and packaged into a native application using the Electron framework.</li>
                    <br />

                    <div class="services-section-btn">
                        <a asp-controller="Home" asp-action="Services" class="default-btn">Explore Other Services</a>
                    </div>

                </ul>
            </div>

        </div>
    </div>

    <div class="services-details-shape">
        <img src="~/images/services-details/line-shape.png" alt="image">
    </div>
</div>
<!-- End Services Details Area -->