<!-- Start Services Details Area -->
<div class="services-details-area ptb-100">
    <div class="container">
        <div class="services-details-desc">
            <div class="article-services-image">
                <img src="~/images/services-details/Cloudandnetworking.jpg" alt="image">
            </div>
            <div class="article-services-content">
                <p>Cloud and Networking services are designed to enhance your IT infrastructure by offering scalable, flexible, and efficient solutions for data storage, processing, and connectivity. Cloud computing provides on-demand access to a range of computing resources over the internet, allowing for cost-effective and scalable operations. Networking services ensure reliable and secure communication between systems and users, enabling seamless data transfer and connectivity across various platforms.</p>

                <ul class="list">
                    <li>
                        <h4>What You Will Get Under This Service</h4> <br />
                    </li>


                    <li>
                        <h4>Cloud Computing Services :</h4>
                    </li>
                    <li><i class="ri-checkbox-circle-line"></i>Application Hosting.</li>
                    <li><i class="ri-checkbox-circle-line"></i>Website Hosting</li>
                    <li><i class="ri-checkbox-circle-line"></i>Software Hosting.</li>
                    <br />

                    <li>
                        <h4> Networking Services : </h4>
                    </li>
                    <li><i class="ri-checkbox-circle-line"></i>Securely connects remote users to the network (e.g., Azure VPN Gateway, AWS VPN)</li>
                    <br />

                    <div class="services-section-btn">
                        <a asp-controller="Home" asp-action="Services" class="default-btn">Explore Other Services</a>
                    </div>

                </ul>
            </div>

        </div>
    </div>

    <div class="services-details-shape">
        <img src="~/images/services-details/line-shape.png" alt="image">
    </div>
</div>
<!-- End Services Details Area -->