<!-- Start Services Details Area -->
<div class="services-details-area ptb-100">
    <div class="container">
        <div class="services-details-desc">
            <div class="article-services-image">
                <img src="~/images/services-details/GraphicsDesign.jpg" alt="image">
            </div>
            <div class="article-services-content">
                <p>We create stunning visuals that communicate your brand's message effectively. From logo design to promotional materials, our graphic design services ensure your brand stands out with compelling and creative visuals.</p>

                <ul class="list">
                    <li>
                        <h4>What You Will Get Under This Service</h4> <br />
                    </li>


                    <li>
                        <h4> Logo Design: :</h4>
                    </li>
                    <li><i class="ri-checkbox-circle-line"></i>Develop a unique and memorable logo that captures the essence of your brand.</li>
                    
                    <li>
                        <h4> Advertise Poster Design : </h4>
                    </li>
                    <li><i class="ri-checkbox-circle-line"></i>Captures attention and effectively communicates the core message of the advertisement.</li>
                    <li><i class="ri-checkbox-circle-line"></i> Encourages viewers to take a specific action, such as making a purchase or attending an event.</li>
                    <br />

                    <li>
                        <h4>Packaging Design : </h4>
                    </li>
                    <li><i class="ri-checkbox-circle-line"></i>Reflects the brand’s image and values through colors, logos, and design elements.</li>
                    <li><i class="ri-checkbox-circle-line"></i>Provides convenience for the consumer, including features like easy-open tabs or resealable closures.</li>
                    <br />

                    <li>
                        <h4>3D Preview & Mockups Design : </h4>
                    </li>
                    <li><i class="ri-checkbox-circle-line"></i>Provides a detailed and accurate depiction of how a design will look in its final form.</li>
                    <li><i class="ri-checkbox-circle-line"></i>Shows designs in real-life contexts or settings to help visualize their practical application.</li>
                    <br />


                    <li>
                        <h4>Brochure/Catelogue Design : </h4>
                    </li>
                    <li><i class="ri-checkbox-circle-line"></i> Presents detailed information about products, services, or events in a structured format.</li>
                    <li><i class="ri-checkbox-circle-line"></i> Organizes content into easily navigable sections, such as product categories, service descriptions, and company information.</li>
                    <br />

                    <div class="services-section-btn">
                        <a asp-controller="Home" asp-action="Services" class="default-btn">Explore Other Services</a>
                    </div>

                </ul>
            </div>

        </div>
    </div>

    <div class="services-details-shape">
        <img src="~/images/services-details/line-shape.png" alt="image">
    </div>
</div>
<!-- End Services Details Area -->