<!-- Start Services Details Area -->
<div class="services-details-area ptb-100">
    <div class="container">
        <div class="services-details-desc">
            <div class="article-services-image">
                <img src="~/images/services-details/Softwareservices-details-1.jpg" alt="image">
            </div>
            <div class="article-services-content">
                <p>In software development, there are several types of services, each with its own focus and characteristics. Here’s an overview of common software development service types along with descriptions. </p>

                <ul class="list">
                    <li>
                        <h4>What You Will Get Under This Service</h4> <br />
                    </li>


                    <li>
                        <h4>  Custom Software Development :</h4>
                    </li>
                    <li><i class="ri-checkbox-circle-line"></i>A custom CRM (Customer Relationship Management) system developed specifically for a company with unique sales processes and customer interactions.</li>
                    
                    <br />

                    <li>
                        <h4> Software Integration : </h4>
                    </li>
                    <li><i class="ri-checkbox-circle-line"></i>API - Integration & Integrating Stripe payment gateway into an e-commerce website to handle online transactions.</li>
                    <br />
                    
                    <li>
                        <h4> Software Maintenance and Support : </h4>
                    </li>
                    <li><i class="ri-checkbox-circle-line"></i>Regularly updating an existing mobile app to fix bugs and improve performance based on user feedback.</li>
                    <br />

                    <li>
                        <h4> Quality Assurance (QA) and Testing : </h4>
                    </li>
                    <li><i class="ri-checkbox-circle-line"></i>Conducting load testing on an e-commerce site to ensure it can handle high traffic during sales events.</li>
                    <br />

                    <div class="services-section-btn">
                        <a asp-controller="Home" asp-action="Services" class="default-btn">Explore Other Services</a>
                    </div>

                </ul>
            </div>

        </div>
    </div>

    <div class="services-details-shape">
        <img src="~/images/services-details/line-shape.png" alt="image">
    </div>
</div>
<!-- End Services Details Area -->