<!-- Start Services Details Area -->
<div class="services-details-area ptb-100">
    <div class="container">
        <div class="services-details-desc">
            <div class="article-services-image">
                <img src="~/images/services-details/webservices-details-1.jpg" alt="image">
            </div>
            <div class="article-services-content">
                <p>Our Website Development service is designed to provide comprehensive solutions tailored to meet the unique needs of your business. We specialize in creating responsive, high-performance websites that not only look great but also deliver an exceptional user experience.</p>

                <ul class="list">
                    <li>
                        <h4>What You Will Get Under This Service</h4> <br />
                    </li>
                    
                   
                    <li>
                        <h4> Static Website Development :</h4>
                    </li>
                    <li><i class="ri-checkbox-circle-line"></i>Personal blogs.</li>
                    <li><i class="ri-checkbox-circle-line"></i>Small business websites.</li>
                    <li><i class="ri-checkbox-circle-line"></i>Portfolios.</li>
                    <li><i class="ri-checkbox-circle-line"></i>Brochure websites.</li>
                    <br />

                    <li>
                        <h4> Dynamic Website Development : </h4>
                    </li>
                    <li><i class="ri-checkbox-circle-line"></i>E-commerce websites.</li>
                    <li><i class="ri-checkbox-circle-line"></i>Social media platforms.</li>
                    <li><i class="ri-checkbox-circle-line"></i>Web applications with user accounts and personalized content.</li>
                    <br />

                    <div class="services-section-btn">
                        <a asp-controller="Home" asp-action="Services" class="default-btn">Explore Other Services</a>
                    </div>
                    
                </ul>
            </div>
            
        </div>
    </div>

    <div class="services-details-shape">
        <img src="~/images/services-details/line-shape.png" alt="image">
    </div>
</div>
<!-- End Services Details Area -->